/*  your css code hebre. If applicable */
tr,th, td
{
	border: 1px solid #ccc;
	height: 40px;
	width: 200px;
	border-radius: 10px;
	font-size: x-large;
	text-align: ;
	padding: 0.5rem;
	font-weight:
    
	
	
}

tr:nth-of-type(even){
	background-color: #f2f2f2;
}

th{
	font-size: 30px;
	font-weight: bolder;
	padding: 10px;
	

}
td{

	font-weight: 
}